on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
    - name: build
      run: make win-reg-sensor.exe
    - uses: actions/upload-artifact@v4
      with:
        path: win-reg-sensor.exe
